:root {
    --color-primary: lightseagreen;
}

body {
    background-color: #dddddd;
}
code {
    color: #c02d76;
}

.logo {
    /* max-width: 50px; */
    height: 90px;
}

.restaurant-name {
    font-size: 1.75rem !important;
    font-weight: 600 !important;
    margin-bottom: 0.25rem !important;
}

@media (max-width: 600px) {
    .restaurant-name {
        font-size: 1.5rem !important;
    }
}

.restaurant-description {
    color: #666 !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
}

.menu-note {
    font-size: 1rem !important;
    color: rgb(149, 149, 149);
    text-align: center !important;
}

.menu-section-name {
    font-weight: bold !important;
    font-size: 1.25rem !important;
    border-bottom: 2px solid #eee !important;
    padding-bottom: 0.25rem !important;
}

.menu-section-note {
    font-size: 0.95rem !important;
    color: #959595 !important;
    text-align: center !important;
}

.dish-name {
    font-size: 1rem !important;
}

.dish-description {
    font-size: 0.9rem;
    color: #7a7a7a !important;
}

.dish-price {
    font-weight: 600 !important;
    font-size: 15px !important;
}

.small-icon {
    display: inline-flex !important;
    width: 11px !important;
    height: auto !important;
    justify-content: center !important;
    margin-right: 8px !important;
    color: #5b5b5b !important;
    font-size: 0.9em !important;
}

.mid-icon {
    display: inline-flex !important;
    width: 25px !important;
    height: 25px !important;
    justify-content: center !important;
    color: #5b5b5b !important;
    padding: 0 !important;
}

.mid-icon .mud-icon-root {
    font-size: 0.55em !important;
}

.allergen-icon {
    display: inline-flex !important;
    width: 11px !important;
    height: auto !important;
    justify-content: center !important;
    margin-right: 8px !important;
    font-size: 0.9em !important;
}

.allergens {
    border:1px solid #eee !important;
    text-align: center !important;
}

.allergen-section-name {
    font-weight: bold !important;
    font-size: 1.25rem !important;
    padding-bottom: 0.25rem !important;
}

.auto-row-height .mud-data-grid-row {
    height: auto !important;
}

.datagrid .mud-toolbar {
    height: 46px !important;
    background-color: var(--color-primary) !important;
    color: white !important;
}
.datagrid .mud-toolbar button{
    color: white !important;
}

.datagrid .mud-input-slot {
    padding: 0 !important;
}

.datagrid h6 {
    font-size: 16px !important;
}

.datagrid-row{
    height: 30px !important;
}

.datagrid-header th {
    font-size: 12px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: var(--color-primary) !important;
}

.datagrid-header th {
    color: white !important;
}

.datagrid-header th span{
    justify-content: center !important;
}

.datagrid-row td {
    padding: 0px !important;
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
    font-size: 12px !important;
}

.datagrid-row td div{
    padding: 0px 4px 0px 4px !important;
}

.allergen-cell {
    cursor: pointer;
    height: 26px !important;
}

.allergen-cell:hover {
    background-color: #dfdfdf;
}

.custom-select .mud-input-slot {
    padding: 6px 0px 6px 16px !important;
}

.historic-menu-label {
}

.historic-menu-label .mud-input-control {
    margin: 0px !important;
}

.historic-menu-label .mud-input:before {
    border-bottom: 0px !important;
}

.historic-menu-label p {
    font-weight: bold !important;
    font-size: 1.25rem !important;
}

.section-header .mud-input, .section-fields .mud-input {
    font-size: 13px !important;
}

.section-header .mud-input input, .section-fields .mud-input input {
    padding-top: 16px !important;
    padding-left: 4px !important;
    padding-bottom: 4px !important;
}

.section-header .mud-input-label, .section-fields .mud-input-label {
    font-size: 13px !important;
    transform: translate(4px, 2px) scale(0.75) !important;
}

.section-header .mud-input:before, .section-fields .mud-input:before {
    border-bottom: 0px !important;
}

.section-header .section-stack, .section-fields .section-stack {
    height: 36px !important;
}

.section-header .mud-input-control, .section-fields .mud-input-control {
    margin: 0px !important;
}

.section-header .mud-input {
    background-color: rgb(240 240 240) !important;
}

.section-fields .fa-trash {
    font-size: 18px !important;
    width: 24px !important;
    height: 24px !important;
    line-height: 26px !important;
}

.section-paper {
    border-top: 2px solid #c4c4c4 !important;
    border-radius: 0px !important;
    border-left: 0px solid !important;
}